<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PFC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<a href="index1.html">Information</a>
<p></p>
<a href="nutrition.html">Nutrition Store</a>
<p></p>
    <img src="/greenfox.png" alt="GreenFoxLogo"/>
    <p></p>
    <span> This is Mr. Fox currently living on pizza and lemonade.</span><span>He know 2 tricks</span>
    <h1>Known tricks</h1>
        <ol>
            <li>write HTML</li>
            <li>code in Java</li>
        </ol>
</body>
</html>