<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PFC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<a href="index1.html">Information</a>
<p></p>
<a href="nutrition.html">Nutrition Store</a>
<p></p>
<img src="/greenfox2.png" alt="GreenFoxLogo"/>
<p></p>
<p>
    This is <span th:text="${foxName}">Mr.Fox</span> is currently living on
    <span th:text="${food}">Mr.Fox</span> and
    <span th:text="${drink}">Mr.Fox</span>. He knows
    <span th:text="${knownTricks}">Mr.Fox</span> tricks.
</p>
<h1>Known tricks</h1>
<ol>
    <p><span th:text="${trick0}">trick1</span></p>
</ol>
</body>
</html>