<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PFC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<li>Information</li>
<p></p>
<img src="/greenfox.png" alt="GreenFoxLogo"/>
<p></p>
<p>
    This is <span th:text="${foxName}">Mr.Fox</span> is currently living on
    <span th:text="${food}">Mr.Fox</span> and
    <span th:text="${drink}">Mr.Fox</span>
</p>
<h1>Known tricks</h1>
<ol>
    <li>write HTML</li>
    <li>code in Java</li>
</ol>
</body>
</html>