.frame {
  border: 16px solid #4285f4;
  width: 385px;
  color: white;
  font-size: 36px;
  font-family: sans-serif;
}
.north {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 44px 129px 45px 145px;
  background-color: #e67676;
}
.east {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 44px 129px 45px 145px;
  background-color: #f2f062;
}
.south {
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  padding: 44px 129px 45px 145px;
  background-color: #a9e6e6;
}
.west {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 44px 129px 45px 145px;
  background-color: #7692e4;
}
