

.color0 {
    color: aqua;
}

.color1 {
    color: aquamarine;
}

.color2 {
    color: blue;
}

.color3 {
    color: darkgreen;
}

.color4 {
    color: chartreuse;
}

.color5 {
    color: forestgreen;
}